@import url("https://fonts.googleapis.com/css?family=Athiti:200,300,400,500,600,700|Bangers|Dancing+Script:400,700|Judson|Pacifico&subset=vietnamese");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.light-rotate-animation, [id^='circle-light']#circle-light, .light-rotate-animation-slow {
  animation: lightRotate linear 6s;
  animation-iteration-count: infinite;
  -webkit-animation: lightRotate linear 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: lightRotate linear 6s;
  -moz-animation-iteration-count: infinite;
  -o-animation: lightRotate linear 6s;
  -o-animation-iteration-count: infinite;
  -ms-animation: lightRotate linear 6s;
  -ms-animation-iteration-count: infinite; }

.light-rotate-animation-slow {
  animation: lightRotate linear 10s;
  animation-iteration-count: infinite;
  -webkit-animation: lightRotate linear 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: lightRotate linear 10s;
  -moz-animation-iteration-count: infinite;
  -o-animation: lightRotate linear 10s;
  -o-animation-iteration-count: infinite;
  -ms-animation: lightRotate linear 10s;
  -ms-animation-iteration-count: infinite; }

@keyframes lightRotate {
  0% {
    transform: translate(-50%) rotate(0deg); }
  100% {
    transform: translate(-50%) rotate(30deg); } }
@-moz-keyframes lightRotate {
  0% {
    -moz-transform: translate(-50%) rotate(0deg); }
  100% {
    -moz-transform: translate(-50%) rotate(30deg); } }
@-webkit-keyframes lightRotate {
  0% {
    -webkit-transform: translate(-50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%) rotate(30deg); } }
@-o-keyframes lightRotate {
  0% {
    -o-transform: translate(-50%) rotate(0deg); }
  100% {
    -o-transform: translate(-50%) rotate(30deg); } }
@-ms-keyframes lightRotate {
  0% {
    -ms-transform: translate(-50%) rotate(0deg); }
  100% {
    -ms-transform: translate(-50%) rotate(30deg); } }
.autoWheel {
  animation: wheel_rotate linear 20s;
  animation-iteration-count: infinite;
  -webkit-animation: wheel_rotate linear 20s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: wheel_rotate linear 20s;
  -moz-animation-iteration-count: infinite;
  -o-animation: wheel_rotate linear 20s;
  -o-animation-iteration-count: infinite;
  -ms-animation: wheel_rotate linear 20s;
  -ms-animation-iteration-count: infinite; }

@keyframes wheel_rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes wheel_rotate {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes wheel_rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-o-keyframes wheel_rotate {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }
@-ms-keyframes wheel_rotate {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg); } }
/* Let's get this party started */
::-webkit-scrollbar {
  width: 4px; }

/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) */
  width: 10px;
  /*display:none */
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #A53030;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) */ }

::-webkit-scrollbar-thumb:window-inactive {
  /*background: rgba(255,0,0,0.4) */ }

body {
  min-height: 100vh;
  background: url(../img/pattern-bg.png) repeat center;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Judson", serif; }

a {
  color: #A53030;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.strongText {
  color: #A53030;
  font-weight: bold;
  font-size: 125%; }

#contents {
  overflow: hidden;
  min-width: 1200px;
  max-height: 100vh; }

[id^='circle-light'] {
  position: fixed;
  height: 200vh;
  left: 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

#circle-world {
  position: fixed;
  background-color: #A53030;
  border-radius: 100000px;
  width: 600vh;
  height: 600vh;
  min-width: inherit;
  left: calc(50% - 300vh);
  top: calc(100vh - 20vh);
  -webkit-transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s, -o-transform 1s; }
  #circle-world [class^='page-'] {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    position: absolute;
    left: calc(300vh - 50%);
    right: 0;
    height: 300vh;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
    #circle-world [class^='page-'] [id^='building-'] {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -80%);
      -ms-transform: translate(-50%, -80%);
      -o-transform: translate(-50%, -80%);
      transform: translate(-50%, -80%); }
  #circle-world.C {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #circle-world.S {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  #circle-world [class^='page-'] .building {
    max-width: 1400px;
    min-width: 1200px;
    width: 100vw;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%); }
    #circle-world [class^='page-'] .building [id*='01'] {
      left: 20%;
      -webkit-transform: translate(-50%, -80%) rotate(-9deg);
      -ms-transform: translate(-50%, -80%) rotate(-9deg);
      -o-transform: translate(-50%, -80%) rotate(-9deg);
      transform: translate(-50%, -80%) rotate(-9deg);
      -webkit-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%; }
    #circle-world [class^='page-'] .building [id*='02'] {
      left: 40%;
      -webkit-transform: translate(-50%, -80%) rotate(-3deg);
      -ms-transform: translate(-50%, -80%) rotate(-3deg);
      -o-transform: translate(-50%, -80%) rotate(-3deg);
      transform: translate(-50%, -80%) rotate(-3deg);
      -webkit-transform-origin: 33% 100%;
      -moz-transform-origin: 33% 100%;
      -ms-transform-origin: 33% 100%;
      -o-transform-origin: 33% 100%;
      transform-origin: 33% 100%; }
    #circle-world [class^='page-'] .building [id*='03'] {
      left: 60%;
      -webkit-transform: translate(-50%, -80%) rotate(3deg);
      -ms-transform: translate(-50%, -80%) rotate(3deg);
      -o-transform: translate(-50%, -80%) rotate(3deg);
      transform: translate(-50%, -80%) rotate(3deg);
      -webkit-transform-origin: 66% 100%;
      -moz-transform-origin: 66% 100%;
      -ms-transform-origin: 66% 100%;
      -o-transform-origin: 66% 100%;
      transform-origin: 66% 100%; }
    #circle-world [class^='page-'] .building [id*='04'] {
      left: 80%;
      -webkit-transform: translate(-50%, -80%) rotate(9deg);
      -ms-transform: translate(-50%, -80%) rotate(9deg);
      -o-transform: translate(-50%, -80%) rotate(9deg);
      transform: translate(-50%, -80%) rotate(9deg);
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
  #circle-world [class^='page-'] .rule-content {
    text-align: initial; }
    #circle-world [class^='page-'] .rule-content > * {
      margin-top: 10px; }
    #circle-world [class^='page-'] .rule-content dt {
      font-weight: bold;
      color: #A53030;
      margin-top: 10px; }
    #circle-world [class^='page-'] .rule-content ul li {
      list-style-type: circle; }
    #circle-world [class^='page-'] .rule-content .orgSign {
      text-align: right; }
      #circle-world [class^='page-'] .rule-content .orgSign div {
        display: inline-block;
        text-align: center; }
  #circle-world [class^='page-'].page-C {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #circle-world [class^='page-'].page-S {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
    #circle-world [class^='page-'].page-S #building-S-02 {
      left: 34%; }
    #circle-world [class^='page-'].page-S #building-S-03 {
      left: 55%; }
  #circle-world [class^='page-'] .wrapper-container {
    top: calc(-100vh + 20vh);
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    min-width: 1180px;
    min-width: initial; }
    #circle-world [class^='page-'] .wrapper-container .tree-bg {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100vw;
      -webkit-transform: translate(-10%, -30%);
      -ms-transform: translate(-10%, -30%);
      -o-transform: translate(-10%, -30%);
      transform: translate(-10%, -30%); }
    #circle-world [class^='page-'] .wrapper-container .broad-obs {
      position: relative;
      margin: 0 auto;
      width: 80%;
      width: 80vw;
      max-width: 1200px;
      z-index: 1;
      -webkit-transition: -webkit-transform 1.5s;
      -o-transition: -o-transform 1.5s;
      transition: transform 1.5s, -o-transform 1.5s;
      -webkit-transform-origin: 50% 0;
      -moz-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      -o-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-transition-timing-function: cubic-bezier(0.31, -0.24, 0.37, 1.26);
      -o-transition-timing-function: cubic-bezier(0.31, -0.24, 0.37, 1.26);
      transition-timing-function: cubic-bezier(0.31, -0.24, 0.37, 1.26); }
      #circle-world [class^='page-'] .wrapper-container .broad-obs:hover {
        -webkit-transform: skew(1deg, 0.5deg);
        -ms-transform: skew(1deg, 0.5deg);
        -o-transform: skew(1deg, 0.5deg);
        transform: skew(1deg, 0.5deg); }
      #circle-world [class^='page-'] .wrapper-container .broad-obs.small {
        display: inline-block;
        vertical-align: top;
        width: 500px;
        width: calc(50vmin);
        height: calc(50vmin);
        min-width: initial;
        margin-left: -10px;
        margin-left: calc((100vw - 100vmin - 10px)/4); }
        #circle-world [class^='page-'] .wrapper-container .broad-obs.small .broad-content {
          padding: 50px; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs.small .broad-content .broad-title {
            font-size: 150%; }
            #circle-world [class^='page-'] .wrapper-container .broad-obs.small .broad-content .broad-title:before, #circle-world [class^='page-'] .wrapper-container .broad-obs.small .broad-content .broad-title:after {
              content: initial; }
        #circle-world [class^='page-'] .wrapper-container .broad-obs.small .broad-content .frame-top:before, #circle-world [class^='page-'] .wrapper-container .broad-obs.small .broad-content .frame-top:after, #circle-world [class^='page-'] .wrapper-container .broad-obs.small .broad-content .frame-bottom:before, #circle-world [class^='page-'] .wrapper-container .broad-obs.small .broad-content .frame-bottom:after {
          max-width: 20%; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .login-form .type {
        display: block;
        margin: 0 auto; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .login-form input.type {
        display: block;
        text-align: center;
        font-size: 100%;
        max-width: 100%;
        font-family: inherit;
        border: none;
        border-bottom: 2px solid #A53030;
        margin: 20px auto;
        -webkit-transition: border-color 0.4s;
        -o-transition: border-color 0.4s;
        transition: border-color 0.4s; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .login-form input:hover, #circle-world [class^='page-'] .wrapper-container .broad-obs .login-form input:focus {
        border-bottom-color: #FFCB4E;
        outline: none; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .login-form input[type='checkbox'] {
        width: 20px;
        height: 20px;
        vertical-align: middle; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .login-form input[type='submit'] {
        display: block;
        margin: 3vh auto 1vh;
        background-color: #A53030;
        border: none;
        padding: 4%;
        font-family: initial;
        color: #FFCB4E;
        font-size: 100%;
        border-radius: 30px 30px 10px 10px;
        border-top: 5px solid #932222;
        border-bottom: 5px solid #932222;
        cursor: pointer; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .error-message {
        display: none;
        font-size: 80%;
        color: #A53030; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .broadBar-top, #circle-world [class^='page-'] .wrapper-container .broad-obs .broadBar-bottom {
        position: relative;
        height: 3vmin;
        max-height: 15px;
        background: url(../img/broadBar_bg.png) repeat-x center #FFCB4E;
        border-radius: 6px;
        background-size: contain;
        background-position-x: 0;
        -webkit-transition: background-position-x 0.8s;
        -o-transition: background-position-x 0.8s;
        transition: background-position-x 0.8s;
        -webkit-box-shadow: inset 0px -6px 0px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0px -6px 0px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px -1vmin 0px 0px rgba(0, 0, 0, 0.5); }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broadBar-top:before, #circle-world [class^='page-'] .wrapper-container .broad-obs .broadBar-top:after, #circle-world [class^='page-'] .wrapper-container .broad-obs .broadBar-bottom:before, #circle-world [class^='page-'] .wrapper-container .broad-obs .broadBar-bottom:after {
          content: "";
          background: url(../img/broadBar_end.png) no-repeat right;
          position: absolute;
          /* height: 150% */
          width: 100%;
          /* left: 0 */
          bottom: -5px;
          top: -5px;
          right: -5px;
          background-size: contain; }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broadBar-top:before, #circle-world [class^='page-'] .wrapper-container .broad-obs .broadBar-bottom:before {
          -webkit-transform: scaleX(-1);
          -ms-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          transform: scaleX(-1);
          right: 5px; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content {
        position: relative;
        background: rgba(255, 255, 255, 0.98);
        width: calc(95% - 60px);
        margin: 0 auto;
        text-align: center;
        padding: 50px 100px;
        padding: 5vmin 10vmin;
        min-height: 10vh;
        max-height: 55vh;
        overflow-y: scroll;
        overflow-y: overlay;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0px -50px 50px -50px #FFCB4E;
        -moz-box-shadow: inset 0px -50px 50px -50px #FFCB4E;
        box-shadow: inset 0px -50px 50px -50px #FFCB4E;
        -webkit-transition: max-height 0.8s;
        -o-transition: max-height 0.8s;
        transition: max-height 0.8s; }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .broad-title {
          font-family: "Pacifico", cursive;
          font-size: 200%;
          color: #A53030;
          display: inline-block;
          align-items: center; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .broad-title:before, #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .broad-title:after {
            content: "";
            background: url(../img/title_01.png) no-repeat center;
            background-size: contain;
            display: inline-block;
            width: 100px;
            height: 50px;
            margin: 0 20px; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .broad-title:after {
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            transform: scaleX(-1); }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content table {
          width: 100%;
          margin-top: 10px; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content table th {
            padding: 10px 0;
            border-bottom: solid 1px #A53030;
            color: #932222;
            font-weight: bold; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content table td {
            padding: 5px 0; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content table .current-user {
            color: #A53030; }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .notificationMessage {
          margin: 10% 0;
          font-size: 120%; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .notificationMessage .pointValue {
            color: #A53030; }
            #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .notificationMessage .pointValue:before, #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .notificationMessage .pointValue:after {
              content: " "; }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .frame-top {
          position: absolute;
          left: 0;
          right: 0;
          top: 0; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .frame-top:before, #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .frame-top:after {
            content: "";
            background: url(../img/frame_01.png) no-repeat;
            background-size: contain;
            position: absolute;
            top: 10px;
            left: 10px;
            width: 90px;
            height: 90px;
            max-width: 20vmin; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .frame-top:after {
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            transform: scaleX(-1);
            right: 10px;
            left: initial; }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .frame-bottom {
          -webkit-transform: scaleY(-1);
          -ms-transform: scaleY(-1);
          -o-transform: scaleY(-1);
          transform: scaleY(-1);
          position: absolute;
          width: 100%;
          height: 90px;
          left: 0;
          top: initial;
          margin-top: -45px;
          pointer-events: none; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .frame-bottom:before, #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .frame-bottom:after {
            content: "";
            background: url(../img/frame_01.png) no-repeat;
            background-size: contain;
            position: absolute;
            top: 10px;
            left: 10px;
            width: 90px;
            height: 90px;
            max-width: 20vmin; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .frame-bottom:after {
            right: 10px;
            left: initial;
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            transform: scaleX(-1); }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content:hover {
          max-height: 60vh; }
          #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content:hover + .broadBar-bottom {
            background-position-x: 120px; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .broadSling {
        position: relative;
        margin-bottom: -10px;
        text-align: center;
        z-index: -1; }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broadSling .lineSling {
          width: 4px;
          background-color: #932222;
          height: 80px;
          height: 8vmin;
          margin: 0 auto;
          margin-bottom: -2px; }
        #circle-world [class^='page-'] .wrapper-container .broad-obs .broadSling img {
          width: 90%;
          height: 5vh;
          margin: 0 auto -5px; }
    #circle-world [class^='page-'] .wrapper-container .wheel-obs {
      display: inline-block; }
      #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelSling .lineSling {
        display: block;
        width: 4px;
        background: #932222;
        height: 80px;
        height: 8vmin;
        margin: 0 auto;
        margin-bottom: -2px; }
      #circle-world [class^='page-'] .wrapper-container .wheel-obs #wheelRotate {
        width: 600px;
        height: 600px;
        width: 55vmin;
        height: 55vmin;
        position: relative; }
      #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart {
        background: url(../img/wheel_round.png) no-repeat center;
        background-size: contain;
        width: 100%;
        height: 100%;
        border-radius: 55vmin;
        cursor: pointer;
        position: relative; }
        #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num {
          background: url(../img/wheelPart.png) no-repeat top;
          background-size: contain;
          position: absolute;
          top: 5%;
          height: 45%;
          width: 13%;
          left: calc(50% - 6.5%);
          -webkit-transform-origin: 50% 100%;
          -moz-transform-origin: 50% 100%;
          -ms-transform-origin: 50% 100%;
          -o-transform-origin: 50% 100%;
          transform-origin: 50% 100%; }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='1'] {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='2'] {
            -webkit-transform: rotate(18deg);
            -ms-transform: rotate(18deg);
            -o-transform: rotate(18deg);
            transform: rotate(18deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='3'] {
            -webkit-transform: rotate(36deg);
            -ms-transform: rotate(36deg);
            -o-transform: rotate(36deg);
            transform: rotate(36deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='4'] {
            -webkit-transform: rotate(54deg);
            -ms-transform: rotate(54deg);
            -o-transform: rotate(54deg);
            transform: rotate(54deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='5'] {
            -webkit-transform: rotate(72deg);
            -ms-transform: rotate(72deg);
            -o-transform: rotate(72deg);
            transform: rotate(72deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='6'] {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='7'] {
            -webkit-transform: rotate(108deg);
            -ms-transform: rotate(108deg);
            -o-transform: rotate(108deg);
            transform: rotate(108deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='8'] {
            -webkit-transform: rotate(126deg);
            -ms-transform: rotate(126deg);
            -o-transform: rotate(126deg);
            transform: rotate(126deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='9'] {
            -webkit-transform: rotate(144deg);
            -ms-transform: rotate(144deg);
            -o-transform: rotate(144deg);
            transform: rotate(144deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='10'] {
            -webkit-transform: rotate(162deg);
            -ms-transform: rotate(162deg);
            -o-transform: rotate(162deg);
            transform: rotate(162deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='11'] {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='12'] {
            -webkit-transform: rotate(198deg);
            -ms-transform: rotate(198deg);
            -o-transform: rotate(198deg);
            transform: rotate(198deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='13'] {
            -webkit-transform: rotate(216deg);
            -ms-transform: rotate(216deg);
            -o-transform: rotate(216deg);
            transform: rotate(216deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='14'] {
            -webkit-transform: rotate(234deg);
            -ms-transform: rotate(234deg);
            -o-transform: rotate(234deg);
            transform: rotate(234deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='15'] {
            -webkit-transform: rotate(252deg);
            -ms-transform: rotate(252deg);
            -o-transform: rotate(252deg);
            transform: rotate(252deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='16'] {
            -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='17'] {
            -webkit-transform: rotate(288deg);
            -ms-transform: rotate(288deg);
            -o-transform: rotate(288deg);
            transform: rotate(288deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='18'] {
            -webkit-transform: rotate(306deg);
            -ms-transform: rotate(306deg);
            -o-transform: rotate(306deg);
            transform: rotate(306deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='19'] {
            -webkit-transform: rotate(324deg);
            -ms-transform: rotate(324deg);
            -o-transform: rotate(324deg);
            transform: rotate(324deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num[data-number='20'] {
            -webkit-transform: rotate(342deg);
            -ms-transform: rotate(342deg);
            -o-transform: rotate(342deg);
            transform: rotate(342deg); }
          #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num .pointValue {
            margin-top: 50px;
            margin-top: 50%;
            display: inline-block;
            font-size: 120%;
            font-size: 4vmin;
            color: #932222; }
            #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num .pointValue:before {
              content: attr(data-pointValue); }
            #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num .pointValue[data-pointValue='1000']:before, #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num .pointValue[data-pointValue='300']:before {
              content: "";
              display: block;
              width: 5vmin;
              height: 6vmin;
              background: url(../img/point1000.png) no-repeat center;
              background-size: contain; }
            #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num .pointValue[data-pointValue='300']:before {
              background: url(../img/point300.png) no-repeat center;
              background-size: contain; }
            #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num .pointValue[data-pointValue='1000'] {
              display: block;
              position: absolute;
              margin: 0;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              /* width: 10vmin */
              -webkit-mask-image: url(../img/wheelPartMask.png);
              mask-image: url(../img/wheelPartMask.png);
              -webkit-mask-position: center top;
              mask-position: center center;
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              -webkit-mask-size: contain;
              mask-size: contain; }
              #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart .wheel_num .pointValue[data-pointValue='1000']:before {
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
                width: 20vmin;
                height: 20vmin;
                left: -5vmin;
                position: absolute;
                top: -9vmin; }
      #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelCenter {
        position: absolute;
        height: 50%;
        width: 50%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: url(../img/wheelCenter.png) no-repeat center;
        background-size: contain;
        pointer-events: none; }
      #circle-world [class^='page-'] .wrapper-container .wheel-obs .pointPointer {
        position: absolute;
        background: #A53030;
        height: 10%;
        width: 5%;
        right: -3%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    #circle-world [class^='page-'] .wrapper-container .pendant_obs {
      position: absolute;
      top: 100%;
      height: 20vmin;
      max-height: 120px;
      width: 6vmin;
      max-width: 40px;
      background: url(../img/pendant_obs01.png) no-repeat center top;
      background-size: contain; }
      #circle-world [class^='page-'] .wrapper-container .pendant_obs.left {
        left: 10px; }
        #circle-world [class^='page-'] .wrapper-container .pendant_obs.left.middle {
          left: 33%; }
      #circle-world [class^='page-'] .wrapper-container .pendant_obs.right {
        right: 10px; }
        #circle-world [class^='page-'] .wrapper-container .pendant_obs.right.middle {
          right: 33%; }
      #circle-world [class^='page-'] .wrapper-container .pendant_obs.middle:not(.left):not(.right) {
        left: 50%;
        height: 28vmin;
        max-height: 180px;
        width: 12vmin;
        max-width: 60px;
        -webkit-transform: translate(-50%, -8px);
        -ms-transform: translate(-50%, -8px);
        -o-transform: translate(-50%, -8px);
        transform: translate(-50%, -8px); }
      #circle-world [class^='page-'] .wrapper-container .pendant_obs.large {
        background: url(../img/pendant_obs02.png) no-repeat center top;
        background-size: contain;
        height: 28vmin;
        max-height: 180px;
        width: 12vmin;
        max-width: 60px; }

#circle-footer {
  position: fixed;
  background-color: #932222;
  border-radius: 800vh;
  width: 800vh;
  height: 800vh;
  min-width: inherit;
  left: calc(50% - 400vh);
  top: calc(100vh - 12vh);
  text-align: center;
  opacity: 0.9;
  -webkit-transition: top 0.4s;
  -o-transition: top 0.4s;
  transition: top 0.4s; }
  #circle-footer:hover {
    top: calc(100vh - 18vh);
    opacity: 1; }
  #circle-footer .loginUser {
    position: absolute;
    background-size: contain;
    text-align: center; }
    #circle-footer .loginUser span[class^='countdown-'] {
      padding: 20px 5px;
      display: inline-block;
      font-size: 120%;
      color: #FFCB4E; }
  #circle-footer .loginUser {
    color: #FFCB4E;
    position: absolute;
    top: 6vh;
    left: calc(50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #circle-footer .loginUser a, #circle-footer .loginUser span {
      color: #FFCB4E;
      text-decoration: none;
      border: 0.2vh solid #FFCB4E;
      padding: 0.4vh 1vh;
      border-radius: 10px;
      background-color: #A53030;
      display: inline-block;
      position: relative;
      z-index: 1;
      -webkit-transition: background-color 0.4s;
      -o-transition: background-color 0.4s;
      transition: background-color 0.4s; }
      #circle-footer .loginUser a:before, #circle-footer .loginUser a:after, #circle-footer .loginUser span:before, #circle-footer .loginUser span:after {
        content: "";
        position: absolute;
        height: 0.2vh;
        width: 100%;
        top: -0.45vh;
        left: 0;
        background-color: #FFCB4E; }
      #circle-footer .loginUser a:after, #circle-footer .loginUser span:after {
        top: initial;
        bottom: -0.45vh; }
      #circle-footer .loginUser a:hover:not(span), #circle-footer .loginUser span:hover:not(span) {
        color: #932222;
        background-color: #FFCB4E; }
    #circle-footer .loginUser:before, #circle-footer .loginUser:after {
      content: url(../img/broadLogin.png);
      position: absolute;
      content: "";
      height: 150%;
      width: 100%;
      top: -25%;
      left: calc(-50% - 1.5vh);
      background: url(../img/broadLogin.png) no-repeat center;
      background-size: contain; }
    #circle-footer .loginUser:after {
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
      right: calc(-50% - 1.5vh);
      left: initial; }
    #circle-footer .loginUser .span[class*='user'] {
      font-size: 80%; }
    #circle-footer .loginUser .span.userPoint {
      font-size: 200%;
      line-height: 0.8; }
      #circle-footer .loginUser .span.userPoint:after {
        content: " " attr(data-pointText);
        font-size: 50%; }
  #circle-footer .bottomMenu {
    position: absolute;
    top: 12vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    #circle-footer .bottomMenu a {
      padding: 2vh; }
  #circle-footer a, #circle-footer span {
    color: #FFCB4E;
    text-decoration: none; }

@media (max-width: 800px) {
  body {
    font-size: 4vmin; }

  #circle-world [class^='page-'] .wrapper-container .broad-obs {
    width: 96%; }
    #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content {
      width: calc(90%);
      max-height: 65vh; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content:hover {
        max-height: 70vh; }
      #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .broad-title:before, #circle-world [class^='page-'] .wrapper-container .broad-obs .broad-content .broad-title:after {
        content: initial; }
    #circle-world [class^='page-'] .wrapper-container .broad-obs.small {
      width: calc(90vmin);
      margin-left: calc((100vw - 90vmin)/10); }
      #circle-world [class^='page-'] .wrapper-container .broad-obs.small .broad-content {
        padding: 5vmin 10vmin; }
  #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart {
    border-radius: 65vmin; }
    #circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart #wheelRotate {
      width: 65vmin;
      height: 65vmin; }

  #circle-footer {
    .loginUsertop: 5vmax; } }
@media (max-width: 800px) and (orientation: portrait) {
  #circle-world .page-C .wrapper-container .broad-obs .broad-content {
    max-height: 30vh; }
  #circle-world .page-C .wrapper-container .broad-obs:hover {
    max-height: initial; } }
@media (max-width: 800px) and (orientation: landscape) {
  #circle-footer {
    top: calc(100vh - 16vh); }
    #circle-footer .loginUser {
      top: 8vh; }
    #circle-footer .bottomMenu {
      top: 16vh; }
    #circle-footer:hover {
      top: calc(100vh - 24vh); } }

/*# sourceMappingURL=main.css.map */
