doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Content-Style-Type" content="text/css")
    title Vinaresearch - Tết 2017
    link(rel="stylesheet" type="text/css" href="common/css/main.css" media="all")
  body
    #wrapper
      #header
        .content-inner
      #contents
        #circle-world
            div.building-HCM
                img#building-HCM-01(src="common/img/building_HCM01.png")
                img#building-HCM-02(src="common/img/building_HCM02.png")
                img#building-HCM-03(src="common/img/building_HCM03.png")
                img#building-HCM-04(src="common/img/building_HCM04.png")
        .content-inner
      #footer
        #circle-footer
        .content-inner
    script(type='text/javascript' src="common/js/jquery-2.2.1.min.js")
    script(type='text/javascript' src="common/js/common.js")
    script(type='text/javascript').
