doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Content-Style-Type" content="text/css")
    title= this
    //- link(rel="stylesheet" type="text/css" href="common/css/main.css" media="all")
  body
    div.new_wrapper
      p
        |Vinaresearch xin chào các bạn!
        br
        |Cảm ơn các bạn đã trở thành thành viên và luôn ủng hộ Vinaresearch trong thời gian qua.
        br
        |Nhân dịp Xuân Đinh Dậu 2017, BQT xin gửi đến tất cả các bạn lời chúc năm mới An Khang, Thịnh Vượng.
        br
        dl
          dt Lịch nghỉ Tết Nguyên Đán 2017:
          dd
            p
              |Bắt đầu từ ngày 27/01/2017 đến hết ngày 05/02/2017.
              br
              |Các yêu cầu cũng như ý kiến thắc mắc của các bạn sẽ được giải đáp từ ngày làm việc đầu tiên của năm mới là ngày 06/02/2017 nhé!
          dt Thời gian thanh toán đổi điểm thưởng trong dịp Tết Nguyên Đán 2017:
          dd Theo quy định:
            ul
              li Các thành viên đăng ký đổi điểm sang Card điện thoại từ ngày 
                strong 11.01.2017 – 25.01.2017 
                |sẽ được thanh toán vào ngày 
                strong 06.02.2017.
              li Các thành viên đăng ký đổi điểm sang Card điện thoại từ ngày 
                strong 26.01.2017 – 10.02.2017 
                |sẽ được thanh toán vào ngày 
                strong 20.02.2017.
              li Các thành viên đăng ký đổi điểm sang Ngân lượng từ ngày 
                strong 26.12.2016 – 25.01.2017 
                |sẽ được thanh toán vào ngày 
                strong 06.02.2017.
            p.timeUpdated Tuy nhiên, do kỳ nghỉ Tết kéo dài hơn 1 tuần làm việc nên BQT sẽ không thể xử lý kịp thời tất cả thông tin đổi thưởng của các bạn thành viên. Do đó, để đảm bảo tính chính xác và công bằng cho tất cả các bạn thành viên, BQT xin thông báo thời gian thanh toán các yêu cầu đổi thưởng trong dịp Tết sẽ được điều chỉnh như sau:
              br
              strong Yêu cầu đổi thưởng Card điện thoại và Ngân lượng từ ngày 26.12.2016 đến hết 10.02.2017 → thanh toán ngày 20.02.2017.
          p Mong các bạn thông cảm và vui lòng kiểm tra việc nhận Card hoặc Ngân lượng vào cuối ngày được thanh toán theo thông báo trên nhé!
          p Các yêu cầu đổi điểm ngoài thời gian thông báo như trên sẽ được thanh toán theo quy định thường lệ tại mục Điểm thưởng – Quà tặng trên trang 
            a(href="https://vinaresearch.net") Vinaresearch.
          p Nếu có bất kì thắc mắc gì, bạn vui lòng liên hệ qua địa chỉ email: 
            a(href="mailto:support@vinaresearch.net") support@vinaresearch.net
            |, chúng tôi sẽ hỗ trợ các bạn trong thời gian sớm nhất.
          p.orgSign
            |Thân mến
            br
            |Ban Quản Trị Vinaresearch.
  style(type="text/css").
    @import url('https://fonts.googleapis.com/css?family=Trirong:300,400,700,900&subset=vietnamese');
    .new_wrapper{
      font-family: 'Trirong', 'Times New Roman', Times, serif;
      padding: 40px 60px;
      max-width: 600px;
      margin: 0 auto;
      //- border: dashed 2px #ed7322;
      //- background: #960909;
      position: relative
    }

    .new_wrapper:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: blue;
      height: 150px;
      width: 150px;
      background: url(News/frame_01.png) no-repeat center;
      background-size: contain
    }

    .new_wrapper a, .new_wrapper dt, .new_wrapper strong{
      color: #ed7322;
      text-decoration: none
    }

    .new_wrapper .timeUpdated strong{
      color: #0a2df1;
    }

    .new_wrapper dt{
      font-weight: bold;
      color: red;
    }

    .new_wrapper dd{
      margin: 0
    }

    .new_wrapper a:hover{
      text-decoration: underline
    }

    .new_wrapper .orgSign{
      text-align: right
    }
