body
    font-size: 4vmin
#top-logo
    left: calc(50% - 33vw)
    max-width: 20vw
    top: 5vh

.socialButton
    right: calc(50% - 33vw)

#circle-world
    [class^='page-']
        .wrapper-container
            .broad-obs
                width: 96%
                .broad-content
                    width: calc(90%)
                    max-height: 65vh
                    &:hover
                        max-height: 70vh
                    .broad-title
                        &:before, &:after
                            content: initial
                &.small
                    width: calc(90vmin)
                    margin-left: calc((100vw - 90vmin)/10)
                    .broad-content
                        padding: 5vmin 10vmin
            .wheel-obs
                $wheelSize: 65vmin
                .wheelPart
                    border-radius: $wheelSize
                    #wheelRotate
                        width: $wheelSize
                        height: $wheelSize
        .building
            min-width: 100vw
        [id^='building-']
            max-width: 25vw
            max-height: 25vw

#circle-footer
    .loginUsertop: 5vmax

@media (orientation:portrait)
    #circle-world
        .page-C
            .wrapper-container
                .broad-obs
                    .broad-content
                        // max-height: initial
                        max-height: 30vh
                    &:hover
                        max-height: initial
    #top-logo
        left: calc(50% - 48vw)
        max-width: 27vw
        top: 5vh

    .socialButton
        right: calc(50% - 48vw)
        top: 4vh

@media (orientation:landscape)
    #circle-footer
        top: calc(100vh - 16vh)
        .loginUser
            top: 8vh
        .bottomMenu
            top: 16vh
        &:hover
            top: calc(100vh - 24vh)

    .socialButton
        right: calc(50% - 29vw)
        top: 5vh

