body
    font-size: 4vmin
#circle-world
    [class^='page-']
        .wrapper-container
            .broad-obs
                width: 96%
                .broad-content
                    width: calc(90%)
                    max-height: 65vh
                    &:hover
                        max-height: 70vh
                    .broad-title
                        &:before, &:after
                            content: initial
                &.small
                    width: calc(90vmin)
                    margin-left: calc((100vw - 90vmin)/10)
                    .broad-content
                        padding: 5vmin 10vmin
            .wheel-obs
                $wheelSize: 65vmin
                .wheelPart
                    border-radius: $wheelSize
                    #wheelRotate
                        width: $wheelSize
                        height: $wheelSize

#circle-world [class^='page-'] .wrapper-container .wheel-obs .wheelPart

#circle-footer
    .loginUsertop: 5vmax

@media (orientation:portrait)
    #circle-world
        .page-C
            .wrapper-container
                .broad-obs
                    .broad-content
                        // max-height: initial
                        max-height: 30vh
                    &:hover
                        max-height: initial

@media (orientation:landscape)
    #circle-footer
        top: calc(100vh - 16vh)
        .loginUser
            top: 8vh
        .bottomMenu
            top: 16vh
        &:hover
            top: calc(100vh - 24vh)

